<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630378153455-0lfcducl5rfbimhg29ah2mf07psttq49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630378153455-0lfcducl5rfbimhg29ah2mf07psttq49</string>
	<key>API_KEY</key>
	<string>AIzaSyCuEjWs_Kkyy94OStEfVl-K14RUEbSvV6g</string>
	<key>GCM_SENDER_ID</key>
	<string>630378153455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toolTrack</string>
	<key>PROJECT_ID</key>
	<string>tool-track-f3079</string>
	<key>STORAGE_BUCKET</key>
	<string>tool-track-f3079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630378153455:ios:69871675635be5ffbaa21a</string>
</dict>
</plist>